@model IEnumerable<UyeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Kayıt Ekle</a>
</p>

<table id="table" 
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-local="tr-TR">
    <thead>
        <tr>
            <th data-field="ad">
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th data-field="soyad">
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th data-field="kullaniciAdi">
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th data-field="kullaniciYorum">
                @Html.DisplayNameFor(model => model.KullaniciYorum)
            </th>
            <th data-field="mailAdresi">
                @Html.DisplayNameFor(model => model.MailAdresi)
            </th>
            <th data-field="kullaniciResimYolu">
                @Html.DisplayNameFor(model => model.KullaniciResimYolu)
            </th>
            <th data-field=role>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th data-field=dogumGunu>
                @Html.DisplayNameFor(model => model.DogumGunu)
            </th>
            <th data-field=onayliMi>
                @Html.DisplayNameFor(model => model.OnayliMi)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.Raw(item.KullaniciYorum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailAdresi)
                </td>
                <td>
                    <img src="~/resimler/@item.KullaniciResimYolu" class="rounded-circle" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DogumGunu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnayliMi)
                </td>

                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                    <!-- Button trigger modal -->
                    <a href="#" id="deleteItem" class="deleteItem" data-path="@Url.Action("Delete", "Uye", new { id = @item.Id })" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Silmek istediğinize Emin misiniz!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="btnContinueDelete" type="button" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>
<script>
    var path_to_delete;//Delete için modal çalıştırmada gerekli olan kod
    $(document).ready(function(){
        $('.deleteItem').click(function () {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDelete').click(function () {
            window.location.href = path_to_delete;
        });
    });
   
</script>