@model MakaleVM

@{
    ViewData["Title"] = "Makale Silme Sayfası";
}

<h3>Makaleyi Silmek İstediğinize Emin misiniz?</h3>
<div>
    <h4>Makale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MakaleBasligi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MakaleBasligi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MakaleIcerigi)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.MakaleIcerigi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>
        <dd class="col-sm-10">
            <img src="~/resimler/@Model.ResimYolu" class="rounded-circle" width="50" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OkunmaSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OkunmaSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OnayliMi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnayliMi)
        </dd>
    </dl>

    <form asp-action="Delete" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UyeId" />
        <input type="submit" value="Sil" class="btn btn-danger m-2" /> 
        <a class="link-success m-2" asp-action="Index" asp-route-id="@Model.UyeId">Geri dön</a>
    </form>
</div>
