@model IEnumerable<MakaleVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Kayıt Ekle</a>
</p>

<table id="table"
       class="table"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-local="tr-TR">
    <thead>
        <tr>
            <th data-field="makaleIcerigi">
                @Html.DisplayNameFor(model => model.MakaleIcerigi)
            </th>
            <th data-field="makaleBasligi">
                @Html.DisplayNameFor(model => model.MakaleBasligi)
            </th>
            <th data-field="resimYolu">
                @Html.DisplayNameFor(model => model.ResimYolu)
            </th>
            <th data-field="okunmaSayisi">
                @Html.DisplayNameFor(model => model.OkunmaSayisi)
            </th>
            <th data-field="onayliMi">
                @Html.DisplayNameFor(model => model.OnayliMi)
            </th>
            <th data-field="operate"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.MakaleIcerigi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MakaleBasligi)
                </td>
                <td>
                    <img src="~/resimler/@item.ResimYolu" class="rounded-circle" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OkunmaSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnayliMi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
