@model IEnumerable<MakaleVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table id="table"
       class="table"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-local="tr-TR">
    <thead>
        <tr>
            <th data-field="makaleIcerigi">
                @Html.DisplayNameFor(model => model.MakaleIcerigi)
            </th>
            <th data-field="makaleBasligi">
                @Html.DisplayNameFor(model => model.MakaleBasligi)
            </th>
            <th data-field="resimYolu">
                @Html.DisplayNameFor(model => model.ResimYolu)
            </th>
            <th data-field="okunmaSayisi">
                @Html.DisplayNameFor(model => model.OkunmaSayisi)
            </th>
            <th data-field="onayliMi">
                @Html.DisplayNameFor(model => model.OnayliMi)
            </th>
            <th data-field="operate"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.MakaleIcerigi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MakaleBasligi)
                </td>
                <td>
                    <img src="~/resimler/@item.ResimYolu" class="rounded-circle" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OkunmaSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnayliMi)
                </td>
                <td>
                    <a class="btn btn-warning m-2" asp-action="Update" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> 
                    <a class="btn btn-info m-2" asp-action="MakaleGoster" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a> 
                    <a class="btn btn-primary m-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="link-success" asp-controller="Uye" asp-action="Index">Geri Dön</a>